<nav class="navbar navbar-expand navbar-dark text-bg-primary">
    <div class="container">

        <a class="navbar-brand" href="/">Inventory</a>
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="nav-link" href="/category_list">Categories</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/item_list">Items</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/catalog/category/create">Create Category</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/item_form">Create Item</a>
            </li>
        </ul>


    </div>

</nav>


